AIMPro/AIMProClient/Connected Services/AIMProService/AIMProServerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Elo" type="xs:int" />
      <xs:element minOccurs="0" name="MatchHistory" nillable="true" type="tns:ArrayOfMatches" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfMatches">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Matches" nillable="true" type="tns:Matches" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatches" nillable="true" type="tns:ArrayOfMatches" />
  <xs:complexType name="Matches">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfHits" type="xs:int" />
      <xs:element minOccurs="0" name="TotalNumberOfTargets" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Matches" nillable="true" type="tns:Matches" />
</xs:schema>