AIMPro/AIMProClient/Connected Services/AIMProService/AIMProServerService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51579/AIMProServerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Elo" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:simpleType name="CursorType">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Piercing">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Explosive">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Limited">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Drunk">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Bazooka">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="CursorType" nillable="true" type="tns:CursorType" />
  <xs:simpleType name="GameMode">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Duel">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="MultyPlayerShootOut">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="FastShooting">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PreciseShooting">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="EndlessCampaign">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="GameMode" nillable="true" type="tns:GameMode" />
  <xs:simpleType name="RoomSettings">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Hidden">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="PasswordProtected" />
          <xs:enumeration value="EloRestricted" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="RoomSettings" nillable="true" type="tns:RoomSettings" />
  <xs:simpleType name="TargetTypes">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Moving">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Shielded">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Boost">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Negative">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Child">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="TargetTypes" nillable="true" type="tns:TargetTypes" />
  <xs:complexType name="ArrayOfRoomState">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoomState" nillable="true" type="tns:RoomState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoomState" nillable="true" type="tns:ArrayOfRoomState" />
  <xs:complexType name="RoomState">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoomSettings" type="tns:RoomSettings" />
      <xs:element minOccurs="0" name="currentNumberOfPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="gameModes" type="tns:GameMode" />
      <xs:element minOccurs="0" name="maxNumberOfPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomState" nillable="true" type="tns:RoomState" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Elo" type="xs:int" />
      <xs:element minOccurs="0" name="HitRatio" type="xs:double" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MatchCount" type="xs:int" />
      <xs:element minOccurs="0" name="NumberDuel" type="xs:int" />
      <xs:element minOccurs="0" name="NumberEndless" type="xs:int" />
      <xs:element minOccurs="0" name="NumberFFA" type="xs:int" />
      <xs:element minOccurs="0" name="NumberFast" type="xs:int" />
      <xs:element minOccurs="0" name="NumberPrecise" type="xs:int" />
      <xs:element minOccurs="0" name="TotalHits" type="xs:int" />
      <xs:element minOccurs="0" name="TotalMiss" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
  <xs:complexType name="ArrayOfMatchStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MatchStatistics" nillable="true" type="tns:MatchStatistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMatchStatistics" nillable="true" type="tns:ArrayOfMatchStatistics" />
  <xs:complexType name="MatchStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="MatchRank" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfHits" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfMiss" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfPoints" type="xs:int" />
      <xs:element minOccurs="0" name="TypeOfGame" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MatchStatistics" nillable="true" type="tns:MatchStatistics" />
  <xs:complexType name="ArrayOfShooter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Shooter" nillable="true" type="tns:Shooter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShooter" nillable="true" type="tns:ArrayOfShooter" />
  <xs:complexType name="Shooter">
    <xs:sequence>
      <xs:element minOccurs="0" name="elo" type="xs:int" />
      <xs:element minOccurs="0" name="numbeerOfMisses" type="xs:int" />
      <xs:element minOccurs="0" name="numberOfHits" type="xs:int" />
      <xs:element minOccurs="0" name="points" type="xs:int" />
      <xs:element minOccurs="0" name="ready" type="xs:boolean" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Shooter" nillable="true" type="tns:Shooter" />
  <xs:complexType name="ArrayOfTarget">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Target" nillable="true" type="tns:Target" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTarget" nillable="true" type="tns:ArrayOfTarget" />
  <xs:complexType name="Target">
    <xs:sequence>
      <xs:element minOccurs="0" name="radius" type="xs:int" />
      <xs:element minOccurs="0" name="type" type="tns:TargetTypes" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Target" nillable="true" type="tns:Target" />
</xs:schema>