AIMPro/AIMProClient/Connected Services/AIMProService/AIMProServerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AIMProLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AIMProLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51579/AIMProServerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:complexType name="RoomProperties">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="CursorType" type="q1:CursorType" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GameMode" type="q2:GameMode" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Settings" type="q3:RoomSettings" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="TargetTypesAllowed" type="q4:TargetTypes" />
      <xs:element minOccurs="0" name="maxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="seed" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomProperties" nillable="true" type="tns:RoomProperties" />
</xs:schema>