AIMPro/AIMProClient/Connected Services/AIMProService/AIMProServerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AIMProServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51579/AIMProServerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51579/AIMProServerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51579/AIMProServerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:51579/AIMProServerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AIMProLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAIMProServerService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IAIMProServerService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IAIMProServerService_signUp_InputMessage">
    <wsdl:part name="parameters" element="tns:signUp" />
  </wsdl:message>
  <wsdl:message name="IAIMProServerService_signUp_OutputMessage">
    <wsdl:part name="parameters" element="tns:signUpResponse" />
  </wsdl:message>
  <wsdl:message name="IAIMProServerService_getProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:getProfile" />
  </wsdl:message>
  <wsdl:message name="IAIMProServerService_getProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IAIMProServerService_createRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:createRoom" />
  </wsdl:message>
  <wsdl:message name="IAIMProServerService_createRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:createRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IAIMProServerService_joinRoom_InputMessage">
    <wsdl:part name="parameters" element="tns:joinRoom" />
  </wsdl:message>
  <wsdl:message name="IAIMProServerService_joinRoom_OutputMessage">
    <wsdl:part name="parameters" element="tns:joinRoomResponse" />
  </wsdl:message>
  <wsdl:message name="IAIMProServerService_GetRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRooms" />
  </wsdl:message>
  <wsdl:message name="IAIMProServerService_GetRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoomsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAIMProServerService">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAIMProServerService/login" message="tns:IAIMProServerService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAIMProServerService/loginResponse" message="tns:IAIMProServerService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="signUp">
      <wsdl:input wsaw:Action="http://tempuri.org/IAIMProServerService/signUp" message="tns:IAIMProServerService_signUp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAIMProServerService/signUpResponse" message="tns:IAIMProServerService_signUp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IAIMProServerService/getProfile" message="tns:IAIMProServerService_getProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAIMProServerService/getProfileResponse" message="tns:IAIMProServerService_getProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IAIMProServerService/createRoom" message="tns:IAIMProServerService_createRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAIMProServerService/createRoomResponse" message="tns:IAIMProServerService_createRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="joinRoom">
      <wsdl:input wsaw:Action="http://tempuri.org/IAIMProServerService/joinRoom" message="tns:IAIMProServerService_joinRoom_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAIMProServerService/joinRoomResponse" message="tns:IAIMProServerService_joinRoom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/IAIMProServerService/GetRooms" message="tns:IAIMProServerService_GetRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAIMProServerService/GetRoomsResponse" message="tns:IAIMProServerService_GetRooms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAIMProServerService" type="tns:IAIMProServerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IAIMProServerService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signUp">
      <soap:operation soapAction="http://tempuri.org/IAIMProServerService/signUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfile">
      <soap:operation soapAction="http://tempuri.org/IAIMProServerService/getProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRoom">
      <soap:operation soapAction="http://tempuri.org/IAIMProServerService/createRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="joinRoom">
      <soap:operation soapAction="http://tempuri.org/IAIMProServerService/joinRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRooms">
      <soap:operation soapAction="http://tempuri.org/IAIMProServerService/GetRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AIMProServerService">
    <wsdl:port name="BasicHttpBinding_IAIMProServerService" binding="tns:BasicHttpBinding_IAIMProServerService">
      <soap:address location="http://localhost:51579/AIMProServerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>